# Backend - Variáveis de ambiente para deploy
# Render.com

PORT=3001
FRONTEND_URL=https://votasim-frontend.vercel.app
JWT_SECRET=supersecretkeysistemavotasim

# Cloudinary (https://cloudinary.com)
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret